/* BODY */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #000000;
    color: #ffffff;
}
/* FINAL BODY */

/* HEADER */
#header{
    width: 100%;
    height: 100vh;
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;

}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00F0BE;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #00F0BE;
}
/* FINAL HEADER */

/* SOBRE MIM */
#sobre{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sobre-col-1{
    flex-basis: 35%;
}
.sobre-col-1 img{
    width: 100%;
    border-radius: 15px;
    border-color: #00F0BE;
}

.sobre-col-2{
    flex-basis: 60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color: #ffffff;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00F0BE;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #03b18e;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-contents ul h4{
    color: #03b18e;
    font-size: 14px;
}
.tab-contents ul h5{
    font-size: 14px;
    background: #03b18e;
    color: #ffffff;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 10px;
}
/* FINAL SOBRE MIM */